<%- include ('../partials/header.ejs') %>
<body>
  <div class="container" style="width: 50%">
    <div class="card" style="margin-top: 6rem; text-align: center">
      <div class="card-header">
        <h2>Edição</h2>
      </div>
    </div>
  </div>
</body>
<%- include ('../partials/footer.ejs') %>
