<%- include ('../partials/header.ejs') %>

<body>
  <div class="container" style="width: 50%">
    <div class="card" style="margin-top: 6rem; text-align: center">
      <div class="card-header">
        <h1>Cargos</h1>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Função</th>
              </tr>
            </thead>
            <tbody>
              <% ocuppations.forEach(objota => { %>
              <tr>
                <td><%= objota.id %></td>
                <td><%= objota.ocuppation %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include ('../partials/footer.ejs') %>
