<%- include ('partials/header.ejs') %>
<body>
  <div class="container" style="width: 50%">
    <div class="card" style="margin-top: 6rem">
      <div class="card-header">
        <h2>Login</h2>
      </div>
    </div>
  </div>
</body>
<%- include ('partials/footer.ejs') %>
